{% extends "base.html" %}

{% block title %}Blogmate Details{% endblock %}

{% block content %}
<div class="main">
    <span class="body">
        <div>
            <div class="section">현재 동영상</div>
            <div class="item-box" data-video-id="{{ video.id }}">
                <div class="item">
                    <div class="content-info">
                        <div class="thumbnail">
                            <img src="{{ video.thumbnail_url }}" alt="photo">
                        </div>
                        <div class="title">
                            {{ video.channel_name }}<br>
                            {{ video.video_title }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="section-title">자막</div>
            <div class="section-actions">
                <button class="create-script-button" data-video-id="{{ video.id }}">
                    자막 생성
                </button>
                <button class="copy-script-button">
                    복사
                </button>
            </div>
        </div>
        <div class="script-box">
            <div class="script-content">
                {{ script.script if script.script else '자막 칸 입니다.' }}
            </div>
        </div>
        <div class="section">
            <div class="section-title">블로그</div>
            <div class="section-actions">
                <button class="create-blog-button" data-script-id="{{ script.id }}">
                    블로그 생성
                </button>
                <button class="copy-blog-button">
                    복사
                </button>
            </div>
        </div>
        <div class="blog-box">
            <div class="blog-content">
                {% if blog and blog.blog %}
                    {{ blog.blog.replace('\n', '<br>')|safe }}
                {% else %}
                    블로그 칸 입니다.
                {% endif %}
            </div>
        </div>
    </span>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', path='/detail.js') }}"></script>
{% endblock %}